<html>
  <head>
    <style>
      body {
        text-align: center;
        margin-top: 50px;
        font-size: 25px;
        background-color: rgb(233, 124, 0);
      }

      h1 {
        color: rgb(0, 0, 0);
      }
    </style>
  </head>

  <!--##NO predefine-->
  <body>
    <h1>Advance Calculator</h1>
    <img src="../static/img.png" width="100px" /><br /><br />
    <form method="post">
      <label>Enter Expression: </label><br /><br />
      <select
        name="op"
        class="is-focused is-large"
        aria-label="operationDropdown"
      >
        <option value="simplify">Simplify</option>
        <option value="factor">Factorize</option>
      </select>
      <input type="text" name="eq" placeholder="Expression" /><br /><br />
      <input type="submit" />
    </form>
    <p>Your equation is {{ eq }}</p>
    <p>The result of the operation is {{ r }}</p>
  </body>
</html>
